body{
    background-color: teal;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}

.header{
    grid-column: 1 / 4;
    grid-row: 2;
}

.main{
    grid-column: span 4;
    grid-row: 3;
}

.footer{
    grid-column: 4/5;
    grid-row: 2;
}

.nav{
    grid-column: 1 / 5;
    grid-row: 1;
}

.header, .main, .nav, .footer {
    background-color: rgb(201, 172, 167);
    padding: 20px;
    text-align: center;
}